@{
    ViewBag.Title = "Giới thiệu";  
}
<div class="container">
    <div class="col-md-12">
        <h3 style="text-align:center;padding:20px">ĐÔI NÉT VỀ K&K FASHION</h3>
        <p>
            Được thành lập từ năm 2010, trải qua gần bốn năm kể từ ngày xuất hiện trên thị trường,
             K&K Fashion đã trở thành một thương hiệu thời trang công sở được các quý cô văn phòng 
            trên toàn quốc ưa chuộng , bởi những thiết kế mang tính ứng dụng cao, vừa lịch sự nơi 
            công sở vừa đáng yêu để dạo phố. Với việc thường xuyên cho ra những BST mới, chú trọng 
            đến dịch vụ chăm sóc khách hàng, K&K Fashion luôn cố gắng để trở thành người bạn thân 
            thiết của khách hàng, lắng nghe những chia sẻ về sản phẩm để tiếp tục cho ra những sản 
            phẩm tốt hơn khiến người mặc hài lòng.
        </p>
        <hr />
        <p>
            Ngoài ra, K&K Fashion còn không ngừng phát triển về mảng thời trang dạ hội, với những mẫu váy đầm ôm dáng,
             quyến rũ với phương châm ” tôn lên nét duyên dáng của người phụ nữ ở bất cứ nơi đâu họ xuất hiện”.
            Đặc điểm nổi bật:
            Thiết kế với những nét chấm phá nhẹ nhàng cùng những đường cắt cúp tinh tế, cách phối màu sắc độc đáo.
            Chất liệu cao cấp: silk, lụa, voan, cotton, thun lạnh….
            Áp dụng kỹ thuật cắt may cầu kỳ, xử lý phom dáng công phu và tính thủ công tỉ mỉ trong từng chi tiết.
            Không gian rộng rãi trưng bày nhiều mẫu mã đa dạng.
            Gía tốt so với chất lượng.
        </p>
        <hr />
        <p>
            Không gian showroom rộng rãi trưng bày nhiều mẫu mã với kiểu dáng đa dạng và mới nhất
        </p>
        <hr />
        <p>
            Áp dụng kỹ thuật cắt may cầu kỳ, xử lý phom dáng công phu và tính thủ công tỉ mỉ trong từng chi tiết.
        </p>
    </div>
</div>
