@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success text-center">
    <h3>Đơn đặt hàng của bạn đã được ghi nhận.Đơn hàng của bạn sẽ được giao muộn nhất vào ngày <span class="text-danger">@ViewBag.NgayGiao</span> .<br />
    Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất .<br />
    Cảm ơn bạn đã tin tưởng và đặt hàng tại Shop K&K. Trân trọng cảm ơn !</h3>
</div> 

